* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-color: #F5F4F0;
    font: "Open Sans, serif";
}

main {
    padding: 80px;
    align-items: center;
    font-family: serif;

}

img {
    border-radius: 28px;
    width: 100%;
}

footer {
    text-align: center;
    padding-bottom: 48px;
}