* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-color: #F5F4F0;
    font-family: "JetBrains Mono", monospace;
}

main {
    padding: 80px;
    align-items: center;
    font-family: "JetBrains Mono", monospace;

}

#nex-trip {
    color: red;
}

#destinations {
    color: red;
}

#couples {
    font-weight: bolder;
    color: red;
}

#families {
    font-weight: bolder;
    color: red;
}

#budget {
    font-weight: bolder;
    color: red;
}

img {
    border-radius: 28px;
    width: 100%;
}

footer {
    text-align: center;
    padding-bottom: 48px;
    font-weight: bolder;
}